<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<link rel="shortcut icon" type="image/x-icon" href="assets/img/faviconhome.png">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Merp Town" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Bamsy's Personal Website" />
    <meta property="og:url" content="https://bamsthesergal.github.io/" />
    <meta property="og:image" content="https://raw.githubusercontent.com/BamsTheSergal/bamsthesergal.github.io/master/assets/img/logo.png" />
    <meta name="theme-color" content="#d09325">
    <meta http-equiv="refresh" content="326" />

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
<!--<link rel="stylesheet" href="assets/css/disclaimer.css" />
<script src="assets/js/Disclaimer.js"></script>
<script src="assets/js/common.js"></script>-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <span title="What a floofer."><img src="{{site.logo | relative_url}}" alt="Logo" /></span>
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>
        <!-- <iframe width="260" height="200" src="https://www.youtube.com/embed/IlqSIxqhJx0?autoplay=1&amp;start=4">
        </iframe> -->
      <!-- <iframe width="260" height="200" scrolling="yes" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1438682716&color=%23ff5500&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/airenn171" title="Luna" target="_blank" style="color: #cccccc; text-decoration: none;">Luna</a> · <a href="https://soundcloud.com/airenn171/starfield" title="Starfield" target="_blank" style="color: #cccccc; text-decoration: none;">Starfield</a></div> -->
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <span>
        <a href="https://lossydragon.com/" target="_blank">
        <span title="What a blepper."><img src="https://raw.githubusercontent.com/BamsTheSergal/bamsthesergal.github.io/master/assets/img/lossy-compact-minimal_46h.png" /></span>
        </a>
        <a href="https://www.youtube.com/playlist?list=PL0h8Zub33QRDRgehlwJk-gksHK1tgfaHs" target="_blank">
        <span title="I like Homestuck."><img src="https://raw.githubusercontent.com/BamsTheSergal/bamsthesergal.github.io/master/assets/img/sburb-compact-minimal_46h.png" /></span>
        </a>
        <a href="http://steamcommunity.com/profiles/76561198127976485" target="_blank">
        <span title="My Steam."><img src="https://cdn.jsdelivr.net/npm/@intergrav/devins-badges@3/assets/compact-minimal/available/steam_46h.png" /></span>
        </a>
        <a href="https://github.com/pages-themes/minimal" target="_blank">
        <span title="Powered By Jekyll"><img src="https://cdn.jsdelivr.net/npm/@intergrav/devins-badges@3/assets/compact-minimal/built-with/jekyll_46h.png" /></span>
        </a>
        </span>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
